body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AlbumsList {
  margin: auto;
  background-color: blanchedalmond;
  width: 22em;
  height: 27em;
  margin-top: 10px;
}

.AlbumsList:hover {
  cursor: pointer;
  background-color: #f2b705;
  transform: scale(1.15);
  transition: 2s;
}

.Songlist {
  background-color: rgb(92, 90, 90);
  display: grid;
  grid-template-columns: 10em 1100px;
  margin: auto;
  width: 50em;
  border-top: 1px solid black;
  text-align: center;
}

.artistcontainer {
  margin: auto;
  display: grid;
  grid-template-columns: 50em auto;
  grid-gap: 1em;
  width: 100em;
}

.ArtistList {
  background-color: goldenrod;
  align-items: center;
  text-align: center;
  width: 40em;
  margin: auto;
}

#clickme:hover {
  cursor: pointer;
}

.Add {
  width: 7em;
  height: 2.7em;
  margin-bottom: 4px;
}

.Albumimg {
  width: 17em;
  height: auto;
  border: 2px solid black;
}

.space {
  padding: 0.1px;
  text-decoration: underline;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 800px;
  width: 100em;
}

.Home {
  background-image: url('https://pbs.twimg.com/media/D33kdplUEAIeEQW.jpg:large');
  height: 1300px;
  background-size: 100% 100%;
  color: white;
  background-attachment: local;
  object-fit: fill;
}

body {
  background-image: url(https://images.genius.com/049e280f44c1f61fc2ba921d70d2c206.1000x1000x1.png);
  margin: 0;
  height: 100%;
  background-size: cover;
  background-attachment: local scroll;
}

.click:hover {
  transform: scale(1.2);
  transition: 1.5s;
  color: rgb(240, 208, 169);
  box-shadow: 0px 0px 800px 30px #f2b705;
  transform: translateY(-15px);
  cursor: pointer;
}

.click {
  transform: translateY(-15px);
}

.nav {
  display: flex;
  font-family: 'Ramabhadra';
  justify-content: space-around;
  background-color: #e0635d;
  height: 60px;
  align-items: center;
}

h1 {
  margin: 0;
  padding-top: 40px;
}

.clock {
  height: 2em;
  width: auto;
  border: none;
}

.Home .nav {
  display: none;
}

.link {
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  color: bisque;
  border: #f3776d solid 5px;
  padding: 2px;
}

.artistimg {
  width: 22em;
  height: auto;
  border: 3px solid black;
}

.artistsection {
  margin: auto;
}

#updatebutton {
  margin-left: 120px;
  margin-right: 120px;
  background-color: #f2b705;
  margin-bottom: 10px;
}

.deletebutton {
  margin-left: 120px;
  margin-right: 120px;
  background-color: red;
}

.about {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

form {
  padding: 1em;
  width: 12em;
  height: 12em;
  background-color: rgb(118, 33, 230);
  background-color: rgb(238, 177, 65);
  border-radius: 10%;
  /* margin-left: 44%; */
  margin: auto;
  margin-top: 200px;
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}

.updateform {
  padding: 1em;
  width: 12em;
  height: 12em;
  background-color: rgb(118, 33, 230);
  background-color: rgb(170, 172, 142);
  border-radius: 10%;
  /* margin-left: 44%; */
  margin: auto;
  margin-top: 200px;
  color: white;
  font-family: 'Georgia';
  cursor: pointer;
}
