body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.AlbumsList {
  margin: auto;
  background-color: blanchedalmond;
  width: 22em;
  height: 27em;
}

.AlbumsList:hover {
  cursor: pointer;
}

.Songlist {
  background-color: rgb(92, 90, 90);
  display: grid;
  grid-template-columns: 10em 1100px;
  margin: auto;
  width: 50em;
  border-top: 1px solid black;
  text-align: center;
}

.ArtistList {
  background-color: goldenrod;
  width: 40em;
  margin: auto;
}

.ArtistList:hover {
  cursor: pointer;
}

.Add {
  width: 7em;
  height: 2.7em;
  margin-bottom: 4px;
}

.Albumimg {
  width: 17em;
  height: auto;
  border: 2px solid black;
}

.space {
  padding: 0.1px;
  text-decoration: underline;
}

.container {
  margin: auto;
  display: grid;
  grid-template-columns: 3fr 800px;
  width: 70em;
}

.Home {
  background-image: url('https://pbs.twimg.com/media/D33kdplUEAIeEQW.jpg:large');
  height: 1300px;
  background-size: 100% 100%;
  color: white;
  background-attachment: local;
  object-fit: fill;
}

body {
  background-image: url(https://images.genius.com/049e280f44c1f61fc2ba921d70d2c206.1000x1000x1.png);
  margin: 0;
  height: 100%;
  background-size: cover;
  background-attachment: local scroll;
}

.click:hover {
  transform: scale(1.2);
  transition: 0.25s;
}

.nav {
  display: flex;
  font-family: 'Ramabhadra';
  justify-content: space-around;
  background-color: #e0635d;
  height: 60px;
  align-items: center;
}

h1 {
  margin: 0;
  padding-top: 40px;
}

.clock {
  height: 2em;
  width: auto;
  border: none;
}

.Home .nav {
  display: none;
}

.link {
  font-weight: bold;
  text-decoration: none;
  font-size: 30px;
  color: bisque;
  border: #f3776d solid 5px;
  padding: 2px;
}
